.footer{
    @extend .header;
    height: fit-content;
    background-color: black;    
    padding: 15px;
    width: 100%;
    margin: 0px;
    color: white;
}
.footer__izq{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    padding: 15px;
        a{
            text-decoration: none;
            color: white;
                &:hover{
                    text-decoration: none;
                    color: grey;
                }
        }            
}
$redes:("instagram":rgb(95, 9, 9),"facebook":blue);
@each $red, $color in $redes {
    .red--#{$red} {
        background: $color;
        width: 50px;
        height: 50px;
        &:hover {
            background: white;
        }
    }
}
.footer__logo{ 
    @include imgFormat(150px, 150px);
    padding: 10px;
}
.footer__der{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 15px;
}