.footer{
    @extend .header;
    align-items: end;
    height: fit-content;
    background-color: black;    
    padding: 15px;
    width: 100%;
    margin: 0px;
    color: white;
}
.footer__izq{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    padding: 15px;
        img{
            width: 50px;
            height: 50px;
        }
        a{
            text-decoration: none;
            color: white;
                &:hover{
                    text-decoration: none;
                    color: grey;
                }
        }            
}
.footer__der{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
}