.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;    
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    list-style: none; 
        li a{
            margin: 15px;
            padding: 15px;
            color: white;
            text-decoration: none;
            font-family: $fuenteNav;
            text-decoration: none;    
            text-transform: uppercase;
            &:hover{    
                color: grey;
            }
        }
}

